html,body{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;

	min-width: 300px;
}

::-webkit-scrollbar #actual_collapsable1,#actual_collapsable2,#actual_collapsable3,#actual_collapsable4, #actual_collapsable5{
	width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track #actual_collapsable1,#actual_collapsable2,#actual_collapsable3,#actual_collapsable4, #actual_collapsable5{
	background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb #actual_collapsable1,#actual_collapsable2,#actual_collapsable3,#actual_collapsable4, #actual_collapsable5{
	background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover #actual_collapsable1,#actual_collapsable2,#actual_collapsable3,#actual_collapsable4, #actual_collapsable5{
	background: #555;
  }

#actual_collapsable1,#actual_collapsable2,#actual_collapsable3,#actual_collapsable4, #actual_collapsable5{
    border-radius: 0px 0px 0px 0px;

    max-height:0px;
    
    padding:0px 10px;
 
    margin:0;
 
    font-weight:bold;

	overflow-y:scroll;
    overflow-x:hidden;

    color:black;
    background:rgb(200,240,220);

    transition: max-height .25s ease-out;
}

#collapsable1, #collapsable2, #collapsable3, #collapsable4{
	opacity: .55;
	transition: opacity .5s ease-out;
}

#collapsable1:hover, #collapsable2:hover, #collapsable3:hover, #collapsable4:hover,  #collapsable5:hover{
    cursor: pointer;
    opacity:1.5;
}

#kareem{
	z-index: 500;
	position: fixed;

	left:-1000px;
}

#kareem img{
    /*display:none;*/
	width: 1000px;
	height: 600px;
}
ul{
	margin-bottom:0px;
	padding-left:140px;
}
li{
	padding:25px;
	display: inline-block;
}

#go-back img{
	filter: invert(100%);
	width: 25px;
	height: 25px;
}

#go-back{
	position:fixed;

	bottom:50px;
	right: 50px;

	width:25px;
	height: 25px;

	z-index: 6;
}

#go-back:hover{
	cursor: pointer;
}

#header-descriptive, #about-descriptive, #contact-descriptive{
	position: relative;

	resize: both;
	/*uhhhhhhh so, wen we resize the height of the page, our text overflow gets a scroll bar
	but it doesnt work.... hm. IVE ALSO SUBSTITUTED MAKING OUR NAV DIVS FIXED, BY JUST CHANGING THE
	TEXT SIZE TO FIT ON THE PAGE(WITH THE VW PROPERTY)*/
	overflow: auto;

	margin:0;

	width:0;
	height:100%;

	z-index: -1;

	background: rgb(50,50,50);

	font-family: "Space Mono";

	/*word-break: break-all;*/
	/*white-space: pre-line;*/
}

#final-statement{
	position: relative;

	bottom: 150px;
}

#meetme{
	position: relative;


	bottom: 45px;
}

#chimchom-descriptive{
	z-index: 5;
}

#chimchom2-descriptive{
	z-index: 4;
}

#chimchom3-descriptive{
	z-index: 3;
}

#chimchom-descriptive, #chimchom2-descriptive, #chimchom3-descriptive{
	position:absolute;

	resize: both;
	overflow: auto;

	/* left: 260px; */
	top: 0px;

	margin:0px;

	width: 0%;
	height: 100%;

	color:green;
	font-family: "Space Mono";

	background: rgb(25,25,25);
}

#chimchom-descriptive p, #chimchom2-descriptive p, #chimchom3-descriptive p{
	font-size: 16.66px;

	/*watch out for dat*/
	padding-left: 70px;

	/*note that I made the width static here, which leads to less of a dynamic, responsive site, but there is always time to go back and fix this
	for now tho, the set widths of the description pages are fine! and if they dont fully fit on computer screens, scroll capabilities are always there*/
	/* width: 75%; */
}

.h2-holder{
	position: relative;
	left: 70px;

	border-bottom: 1px solid green;

	margin:0;
	padding: 0 0 15px 0;
	margin-bottom: 30px;

	width:700px;

	font-size: 30px;
}

#chimchom-descriptive h2, #chimchom2-descriptive h2, #chimchom3-descriptive h2{
	padding-bottom: 0;
	margin-bottom: 0;
	
}

a:hover{
	cursor: pointer;

}

#header-mini-pic, #about-mini-pic, #contact-mini-pic{
	width: 60px;
	height: 60px;

	display: none;

	opacity: 0;

	transition: opacity 2s;

}

#header-descriptive p, #about-descriptive p, #contact-descriptive p{
	position: relative;

	padding-top: 40px;

	width:20%;
	min-width: 550px;

	font-size: .95vw;

	color:green;

	left:315px;
}

#about-descriptive{
	z-index: -2;
}

#contact-descriptive{
	z-index: -3;

	left: 270px;
}

#contact-descriptive p{
	padding-top: 10px;

	left: 140px;
}

#contact-descriptive h2{
	border-bottom: 1.5px solid green;

	position: relative;
	color:green;

	width:800px;


	left: 90px;
}

#fake-bg-holder{
	width:100%;
	height:100%;

	position: absolute;

	top:0;
	left:0;

	background: rgb(20,20,20);

	z-index: -100;
}

#imgHolder{
	width:400px;
	height: 400px;

	z-index: -3;
	filter: invert(45%);

	margin: 0;

	position: absolute;

	right:100px;
	top:300px;

	transform:rotate(45deg);
	/*ALSO VERY IMPORTANT FOR MAKING ANIMATION GO ON FOREVER!!!*/
	/*NO JS NEEDED!!!!!!!!!!!!!!!!!*/
	animation:grow .5s infinite ease-out;
	/*VERY IMPORTANT FOR MAKING ANIMATION GO BACC N FORTH!!!!!!!!!!!!!!!!*/
	animation-direction: alternate;
}


@keyframes grow{
	from{bottom:10%;}
	to{bottom:80%;}
}

#resume, #email{
	color:white;
}


#navs{
		padding: 0px 0px 0px 70px;
		margin-top:25px;
		/*text-align: center;*/
		list-style: none;
}

.outside{
	display: inline-block;
}

#navs img{
	width:70px;
	height: 70px;

	filter: invert(80%);
}

#p5-canvas-holder canvas, #p5-canvas-holder{
	z-index: -1;
	position: absolute;
	margin:0;
	padding:0;
}

#bubble-holder{

	left: 0;
	top: 0;
	position: fixed;
	/*display: inline;*/

	/*z-index: 50;*/
	width: 100%;

	z-index: 20;
	/*position: relative;*/
/*	width: 210px;
	margin: 0px;*/
	/*z-index: 50;*/
	/*position: fixed;*/
	/*padding:25px;*/
}

/*#header-text, #about-section, #contact-section{
	transition: width 1s; 
}*/

#header-text{
	/*	WHOA WHOA WHOA WHOAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	I JUST FIGURED SOMETHING OUT BY MISTAKE; I HAVE JAVASCRIPT SETTING THE HEIGTH OF MY
	DIVS ACCORDING TO THE WINDOW SIZE, SO I CAME HERE TO GET RID OF THEIR WIDTH N HEIGHT DECLARATION
	BUT NOW IT STRETCHES THEM ALL THE WAY OUT! AND I KINDA LIKE IT!... HM, WHY DOES IT DO THAT THO


	i THINK I KNOW WHY... MAYBE BECAUSE ITS PARENT DIVS... BUBBLE HOLDER??? SPANS 100%
	ACROSS AND NOW SINCE I HAVENT SPECIFIED A WIDTH, IT AUTO ADJUSTS TO ITS PARENTS... IDK, JUST A THOUGHT
	BUT JUST KNOW TO UNCOMMENT THIS IF YOU WANT YOUR BOXES BACK!!!!!!!!!*/

/*	width:125px;
	height:125px;*/

	position: absolute;

	padding: 25px;

	min-width: 210px;

	position: relative;

}

#about-section{
	padding: 25px;

	min-width: 210px;

	position: relative;
}

#contact-section{
	padding: 25px;

	min-width: 210px;

	position: relative;

}

#welcome, #about, #contact{
	opacity: 0;

	font-family: 'Space Mono';
	font-size: 200%;

	text-align: center;

	margin:0 auto;

	transition: opacity 1s;
}

#welcome-text, #about-text, #contact-text{
	/*having the set width here begins to make the page look weird if you start zooming in too much
	but the thing is, without it, our p element is spanned across the entire page. try sizing the div its contained in*/
	/*width:400px;*/

	width:50vw;

	margin:0 auto;
	padding-top: 10px;

	opacity: 0;
	color: white;

	font-family: 'Space Mono';
	font-size: 1.25vw;

	text-align: center;

	transition: opacity 1s ease-out;
}

/*#welcome-text-holder, #about-text-holder, #contact-text-holder{
	width:50%;
}*/

#header-text:hover #welcome, #header-text:hover #welcome-text{
	opacity: 1;
	cursor: pointer;
}

#about-section:hover #about, #about-section:hover #about-text{
	opacity: 1;
	cursor: pointer;
}

#contact-section:hover #contact, #contact-section:hover #contact-text{
	opacity: 1;
	cursor: pointer;
}

#header-text:hover #header-mini-pic{
	opacity: 1;
	cursor: pointer;
}

#about-section:hover #about-mini-pic{
	opacity: 1;
	cursor: pointer;
}

#contact-section:hover #contact-mini-pic{
	opacity: 1;
	cursor: pointer;
}








